
.vs/ETicaretAPI/v17/.suo
.vs/ETicaretAPI/DesignTimeBuild/.dtbcache.v2
Core/ETicaretAPI.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.cache
*.json
*.json
*.cache
Core/ETicaretAPI.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/ETicaretAPI.Domain/obj/Debug/net6.0/ETicaretAPI.Domain.csproj.AssemblyReference.cache
Core/ETicaretAPI.Domain/obj/ETicaretAPI.Domain.csproj.nuget.dgspec.json
Core/ETicaretAPI.Domain/obj/project.assets.json
Core/ETicaretAPI.Domain/obj/project.nuget.cache
Presentation/ETicaretAPI.API/obj/project.assets.json
Presentation/ETicaretAPI.API/obj/ETicaretAPI.API.csproj.nuget.dgspec.json
*.cache
Presentation/ETicaretAPI.API/obj/Debug/net6.0/apphost.exe
Presentation/ETicaretAPI.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Infrastructure/ETicaretAPI.Persistence/obj/project.nuget.cache
Infrastructure/ETicaretAPI.Persistence/obj/project.assets.json
Infrastructure/ETicaretAPI.Persistence/obj/ETicaretAPI.Persistence.csproj.nuget.dgspec.json
Infrastructure/ETicaretAPI.Persistence/obj/Debug/net6.0/ETicaretAPI.Persistence.csproj.AssemblyReference.cache
Infrastructure/ETicaretAPI.Persistence/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Infrastructure/ETicaretAPI.Infrastructure/obj/project.nuget.cache
